
:root {
  --main-white: white;
  --main-red: darkred;
  --main-blue: lightblue;
  --main-gray: darkgrey;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; 
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  margin-left:24%;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

#background{
  background-color: #000;
  background-image: linear-gradient(62deg, #666363 0%, #181719 100%);
}


/* 
========================
      NAV BAR
========================
*/
.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  width: 30%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);

  /* Make the rectangle partially hidden */
  overflow: hidden;
  margin-bottom: -40px;
  transition: margin-bottom 0.3s ease-in-out;
}

/* Style the rectangle box when it's hovered over */
.nav:hover {
  margin-bottom: 0;
  /* Add a transition effect for the slide up animation */
  transition: margin-bottom 0.3s ease-in-out;
}


.nav-list {
  display: flex;
  align-items: center;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  padding:2rem;
  padding-bottom:1.5rem;
  margin-right: 2rem;
  transition: transform 0.5s;
}

.nav-list p{
  font-size: 1.0rem;
  margin-left: 1.1rem;
}

.nav-list a:hover {
  color: var(--main-blue);
  transform: scale(2.5);
}


/* 
========================
      ABOUT SECTION
========================
*/
#welcome-section {
  display: block;
  flex-direction: column;
  justify-content:center;
  align-items: left;
  width: 100%;
  height: 75vh;
}

#name{
  font-size:5rem;
  margin-left:15%;
  padding-top:10%;
}

#school {
  font-size: 3rem;
  font-weight: 150;
  font-style: italic;
  color: var(--main-blue);
  margin-left:15%;
}

#bio {
  font-size: 2rem;
  margin-left:15%;
  padding-right:40%;
}

#my-skillset{
  margin: 12rem auto 5rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-size: 4rem;
  text-align: center;
}

.skill-table{
  display:flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  width:90%;
}
.skill-table li{
  margin-left:15%;
}

/* 
========================
  PROJECTS SECTION
========================
*/


.projects-section {
  display: block;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.projects-section-header {
  margin: 12rem auto 5rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  height: 60%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-right: 3rem;
  margin-left: 3rem;
  width:20%;
  height:50%;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  
}

/* 
========================
  CONTACT SECTION
========================
*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: transparent;
  border: transparent;
  color:white;
}


.contact-section {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 13rem 2rem;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 7rem;
  transition: transform 0.3s ease-out;
  left:50%;
}

.contact-details:hover {
  transform:scale(1.2);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10; 
}

#popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-blue);
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  width:40%;
  z-index: 11; 
}

#pop-name{
  height: 2rem;
  width: 80%;
}

#pop-email{
  height: 2rem;
  width: 80%;
}

#pop-message{
  height: 10rem;
  width: 80%;
}

#subbtn{
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  #popup-form label {
    /* Display the label above the input field */
    display: block;
  }
  #popup-form input, #popup-form textarea {
    /* Make the input fields take up the full width of the form */
    width: 100%;
  }
}